html{
    background-image: url("background.jpg");
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body{
    font-size: 16px;
   
}

h1, label{
    font-family: "Impact", sans-serif;
    font-weight:bold;
    color: white;
    text-align: center;
}

label{
    font-weight:normal;
}





#controls{
    position: absolute;
    float:left;
    left: 387px;
    top: 100px;
    
}

button{
    background-color: #008CBA;
    text-align: center;
    font-family: "Impact", sans-serif;
    padding: 5px 10px;
    color: white;
    display: inline-block;
    border: none;
    border-radius: 2px;
    -webkit-text-stroke: 0.75px black;
}

button:hover{
    background-color:#f44336;
}

input{
    background-color:lightblue;
    font-family: "Impact", sans-serif;
}

#checkbox{
    position:absolute;
    float: left;
    top:150px;
    left:460px;
    font-size: 18px;
}

input[type=checkbox]:checked + label{
    color:yellow;
    background-color:black;
}




